# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetivos**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table for open-source Data Science tools
- Demonstrate simple arithmetic expressions in Python
- Convert time units from minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyper Notebbok|
|Rstudio|
|Apache Zepellin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

En la siguiente celda de código, se escrira una expresión que que convierta 200 minutesen hours.

In [4]:
(200/60)

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

## Author

Guillermo Diaz Mol